<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="col-sm-12">
  <div class="container">
    <h1>Weekly Goals</h1>
  </div>
  <div class="container2">
        <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(day => { %>
          <form>
            <div class="daySection">
                <h4 class="days"><%= day %></h4>
                <div id="<%= day.toLowerCase() %>-goals">
                    <% if (user.goals && user.goals[day.toLowerCase()]) { %>
                        <% user.goals[day.toLowerCase()].forEach(goal => { %>
                                <span class="all"><%= goal %></span>                         
                        <% }) %>
                    <% } %>
                </div>
          
                <input class="submittedgoal" type="text" name="<%= day.toLowerCase() %>" placeholder="Add a goal">
                <button>Save Goals</button>
            </div>
          </form>
          <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
              <% if (messages[i].day == day) { %>
              <li class="message">
                <span><%= messages[i].goals %></span>
                <!-- <span><i id="<%= messages[i]._id %>" class="fa fa-heart" aria-hidden="true"></i></span>    -->
                <button id="<%= messages[i]._id %>" class="delete" type="button">Delete</button>
                <span><i id="<%= messages[i]._id %>" class="fa <%=messages[i].completed ? 'fa-check-circle':  'fa-check-circle-o' %> heartbutton" aria-hidden="true"></i></span>
              </li>                        
              <% } %>
            <% } %>
            </ul>
      
        <% }) %>

      </div>
</div>


<script src="/main.js"></script>
</body>
</html>




